<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <title>{% block title %}Parkuju Jak Cyp!{% endblock %}</title>
        <meta content="{% block head_description %}Národní přehlídka profesionálních parkistů.{% endblock %}" name="description" />
        <meta content="Michal Valoušek; michal@plovarna.cz" name="author" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/text.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/custom.css" />
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-222140-12']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
        <div class="container_12">
            {# titulek #}
            <div class="grid_12">
                <h1><a href="/"><img src="http://media.parkujujakcyp.cz/pjc/img/pjc.png" title="ParjukuJakCyp.cz" /></a></h1>
            </div>
            <div class="clear"></div>

            {# hlasky #}
            {% if messages %}
                <div class="grid_12">
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="clear"></div>
            {% endif %}

            {# hlavni obsah #}
            {% block main %}{% endblock %}

            {# paticka #}
            <hr />
            <div class="grid_6">
                <p>
                    <a href="{% url photos-list page=1 %}">Elitní galerie cypů</a> |
                    <a href="{% url proc %}">Proč?</a>
                </p>
            </div>
            <div class="grid_6">
                <p class="right">
                    Věnováno oktanovému Jiřímu a benzenové Ditě. Od Ježíška.
                </p>
            </div>
            <div class="clear"></div>
        </div>
    </body>
</html>
{# vim: set et si ts=4 sw=4 syn=django: #}
