<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8" />
        <title>{% block title %}Parkuju Jak Cyp!{% endblock %}</title>
        <meta content="{% block head_description %}Národní přehlídka profesionálních parkistů.{% endblock %}" name="description" />
        <meta content="Michal Valoušek; michal@plovarna.cz" name="author" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/reset.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/text.css" />
        <link rel="stylesheet" href="{{ MEDIA_URL }}css/960.css" />
    </head>
    <body>
        <div class="container_12">
            {# titulek #}
            <div class="grid_12">
                <h1><a href="/"><img src="/media/img/pjc.png" title="ParjukuJakCyp.cz" /></a></h1>
            </div>
            <div class="clear"></div>

            {# hlasky #}
            {% if messages %}
                <div class="grid_12">
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="clear"></div>
            {% endif %}

            {# hlavni obsah #}
            {% block main %}{% endblock %}

            {# paticka #}
            <hr />
            <div class="grid_12">
                <p>
                    <a href="{% url photos-list page=1 %}">Ultimátní galerie cypů</a> |
                    <a href="{% url proc %}">Proč</a>
                </p>
            </div>
            <div class="clear"></div>
        </div>
    </body>
</html>
{# vim: set et si ts=4 sw=4 syn=django: #}
